{
    "GLOBAL_LLM_SERVICE": "",
    "OPENAI_API_KEY": "",
    "OPENAI_ORG_ID": "",
    "WORLD_NEWS_API_KEY": "",
    "JWT_TOKEN_TYPE": "",
    "JWT_TOKEN_ENCRYPTION_ALGORITHM": "",
    "JWT_TOKEN_SECRET_KEY": "",
    "JWT_TOKEN_EXPIRATION_MINUTES": "",
    "ADMIN_EMAILS": "",
    "TG_BOT_TOKEN": ""
}
